version: "3"

services:
  client:
    image: "{{ docker_username }}/{{ images.client }}:{{ tags.client }}"
    ports:
      - 80:80

  back-end:
    image: "{{ docker_username }}/{{ images.backend }}:{{ tags.backend }}"
    ports:
      - 3000:3000
    networks:
      - backend

  database:
    image: mongo:latest
    volumes:
    - ./data:/data/db
    networks:
      - backend

networks:
  backend:
